<div class="gray-background-1">
  <div class="float-right">
    <a href="#whatisdiff"><button class="btn-clear">what is diff</button></a>
    <a href="#whyitsneeded"><button class="btn-clear">why it's needed</button></a>
    <a href="#howitworks"><button class="btn-clear">how it works</button></a>
    <a href="./datasets"><button class="btn-border">explore datasets</button></a>
  </div>
  <br />
  <div class="break-medium"></div>
  <div class="float-center">
    <h1>
      diff
    </h1>
    <div class="break-xsmall"></div>
    <h3>
      An open peer-to-peer platform for <br /> differentially private datasets
    </h3>
    <div class="break-xsmall"></div>
    <a href="./datasets">
      <button class="btn-find">explore datasets
      </button>
    </a>
  </div>
  <div class="break-medium"></div>
</div>
<div class="white-background-1" id="whatisdiff">
  <div class="float-center">
    <img class="img-connections" src="assets/connections-dark.png" />
    <div class="break-xsmall"></div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-8">
          <h2>
            we aim to make data <strong>accessible</strong>
          </h2><br />
          <h4>
            In sharing large datasets with rich user content, data that personally identifies distinct users should not be fully shared due to privacy concerns. The nature of data can also be sensitive: health data, financial information, etc.
            <br /><br />However, big data from users is very valuable and useful in data analysis, machine learning, and other applications of artificial intelligence and statistical analysis.
            Diff allows users to <span class="teal-text"> query datasets without compromising client privacy.</span>
          </h4>
        </div>
        <div class="col-md-2">
        </div>
      </div>
    </div>
  </div>
</div>
<div class="gray-background-2" id="whyitsneeded">
  <div class="float-center">
    <h2>
      why differential privacy matters
    </h2>
    <div class="break-1"></div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-2">
        </div>
        <div class="col-sm-8">
          <h4>
            Differential privacy is the model that makes it possible to provide accurate statistics from a dataset while maintaining a high level of privacy.
            Diff adds randomness to datasets such that individual entries are randomized while properties of the dataset that are useful for analysis are preserved.
          </h4>
        </div>
        <div class="col-sm-2">
        </div>
      </div>
    </div>
    <div class="break-5"></div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-1">
      </div>
      <div class="col-sm-5">
        <div class="card">
          <div class="float-center">
          <h1 style="color:#1BBCBC;">&#9673;</h1>
          <h5>
            Health
          </h5>
          </div>
        <h6>
          A researcher at a hospital owns data quantifying the immunological weakness episodes that current patients of an experimental drug are using. She wants to publish this information due to promising results, but does not want to violate the HIPAA law of privacy and security of health information.
        </h6>
        </div>
      </div>
      <div class="col-sm-5">
        <div class="card">
          <div class="float-center">
          <h1 style="color:#1BBCBC;">&#9673;</h1>
          <h5>
            Free Speech
          </h5>
          </div>
        <h6>
          A journalist-whistleblower in a region with high censorship and retaliation policies wants to release documented numeric information of inhuman working hours for a certain factory division. A piece of information that identifies one worker will result in their punishment.
        </h6>
        <div class="break-2"></div>
        </div>
      </div>
      <div class="col-sm-1">
      </div>
    </div>
    <div class="row">
      <div class="col-sm-1">
      </div>
      <div class="col-sm-5">
        <div class="card">
          <div class="float-center">
          <h1 style="color:#1BBCBC;">&#9673;</h1>
          <h5>
            Finance
          </h5>
          </div>
        <h6>
          A financial institution wants to publish the median credit scores of customers that participated in its pilot loan program, which had few users, without leaking information that can identify them.
        </h6>
        <div class="break-2"></div>
        </div>
      </div>
      <div class="col-sm-5">
        <div class="card">
          <div class="float-center">
          <h1 style="color:#1BBCBC;">&#9673;</h1>
          <h5>
            Policy
          </h5>
          </div>
        <h6>
          A public policy analyst wants to share the average height dataset of students at a local school before and after a new meal program was instituted at the school without releasing identifying information for these minors.
        </h6>
        </div>
      </div>
      <div class="col-sm-1">
      </div>
    </div>
  </div>
</div>
<div class="dark-background-1" id="howitworks">
  <div class="float-center">
    <img class="img-connections" src="assets/connections-dark.png" />
    <div class="break-xsmall"></div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-2">
        </div>
        <h2 class="white-text">
          how diff works
        </h2><br />
          <h4>
            Most research relies heavily on data analysis. However, consumer privacy and patient confidentiality often prevent owners of data from distributing potentially valuable datasets.
            <br /><br />Diff brings differential privacy to publicly available datasets. Differential privacy makes it possible to provide accurate statistics from a dataset while maintaining client privacy.
          </h4>
        </div>
        <div class="col-md-2">
        </div>
      </div>
    </div>
</div>
<div class="gray-background-3">
  <div class="float-right">
    <h1>
      diff
    </h1>
    <h4 class="smaller-text">
      contact us at diff@mit.edu
    </h4>
  </div>
  <div class="break-small"></div>
</div>
